*
!.cargo/
!.cargo/**
!.cade
!.editorconfig
!.envrc
!.github/
!.github/**
!.gitignore
!.rustfmt.toml
!.taplo.toml
!Cargo.lock
!Cargo.toml
!LICENSE
!README.md
!flake.lock
!flake.nix

!nix/
!nix/**

!src/
!src/**

!tests/
!tests/**

!examples/
!examples/**
